// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-header {

    h1 {
        display: inline-block;
    }

    .edit {
        display: inline-block;
        float: right;
        margin-top: 10px;
    }
}

.card-body {

    .post-desc {
        width: 100%;
    }

    label.title {
        width: 10%;
        float: left;
    }

    input.title {
        width: 90%;
    }
}
